body {
    background-color: white;
    font-family:'Times New Roman', Times, serif ;
    margin: 0px;
    font-size: 1.6vw;
}


#logo {
    margin: 0px;
    padding: 8px;
    width: 16%;
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 8, 8);
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(68, 8, 8);
    color: white;
    display: flex;
    height: 8vh;

}


body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}



body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 85%;
}



form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color:white;
    color: rgb(68, 8, 8);
    display: flex;
}

img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 20px;
}

#footer-ul > div > li > a{
    background-color: rgb(68, 8, 8);
    color: white;
    text-decoration: none;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main main main"
    "menu main main main"
    "menu main main main"
    "menu main main main"
    "footer footer";
    grid-template-columns: 3fr 7fr;
}

#season-list > li > a {
    text-decoration: none;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8%;
}